<mat-toolbar>
  <button mat-icon-button aria-label="Home button" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  <span>My Weather App</span>
  <span class="spacer"></span>
  <ng-container [formGroup]="headerForm">
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" placeholder="Search Zip Code" class="search-input" maxlength="5" formControlName="searchedZipCode">
      @if (headerForm.valid && headerForm.dirty) {
        <button matSuffix mat-icon-button aria-label="send" (click)="submit()">
          <mat-icon>send</mat-icon>
        </button>
      }
    </mat-form-field>    
  </ng-container>
</mat-toolbar>
<div class="page-container">
  <router-outlet />
</div>
